@model List<Dish>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDilicious</h1>
    <h3>Check out some recent dishes</h3>
    @{
        foreach(var dish in Model)
        {
            <p><a href="DisplayDish/@dish.DishId">@dish.Name</a> by @dish.Chef</p>
        }
    }
</div>
